.wrapper {
    display:grid;
}

.red {
    color:#2E86AB;
}

h2 {
    font-size:2em;
}

body{
    background-color: #363636;
    color:#CFD2CD;
    font-size: 20px;
}

a:link{
    color:#CFD2CD;
}
a:visited{
    color:#CFD2CD;
}
a:hover, a:active{
    color:blue;
}

/**************************************
Top Grid Formatting
**************************************/

.wrapper {
    height:100%;
    grid-template-areas:"title" "central" "side" "perfect" "portfolio";
    grid-template-rows:10% 10% 10% 15% 1fr;
    }


.title{
    grid-area:title;
    font-size:1.5em;
    width:100%;
    padding:1em;
    text-shadow: 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 -1px -1px 0 #000;
}

.title h1{
    float:left;
}
.title img{
    display: block;
    margin: .25em auto;
    width:80%;
}

.side {
    grid-area:side;
    padding:1em;
}
.side ul{
    height:100%;
    list-style-type: square;
    color:#2E86AB;
}
.side p {
    color:black;
}

.central {
    grid-area:central;
    margin: 0 2em;
}
.central h3{
    color:#2E86AB;
}

.perfect {
    grid-area:perfect;
    background-color: #86685C;
    margin:1em;
    padding:1em;
    border-radius: 1em;
}

.perfect img{
    display:block;
    width:80%;
    margin: 1em auto;
}

.perfect h3{
    text-align: center;
}


/**************************************
Bottom Grid Formatting
**************************************/

.portfolio{
    grid-area:portfolio;
    text-align: center;
    padding-left:auto;
    padding-right:auto;

}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-around;
}

.project{
    border: 3px solid #CFD2CD;
    border-radius: 2vw;
    padding: 1em 2em;
    background-color: #86685C;
    margin-top: 1em;
}
.project p{
    text-align: left;
}

.project img{
    display:block;
    width:50%;
    margin: 3em auto;
}
.rpg img{
    width:100%;
    margin:3em auto;
}

.seasons img{
    width:100%;
    margin:3em auto;
}

.neon img{
    width:100%;
}

@media screen and (min-width:720px){
    .wrapper {
        height:100%;
        grid-template-areas: 
        "title title side"
        "central central perfect"
        "portfolio portfolio portfolio";
        grid-template-columns:50% 20% 30%;
        grid-template-rows:24% 23% 1fr;
        /* FR measurement used due to older versions of grid also using fr in relation to it,
         simply kept now to signify using the remainder of the space */
    }
    .perfect img{
        width:100%;
    }
    .container{
        flex-direction: row;
    }
    .project{
        margin: 1em;
        width:25%;
    }
}